/* Add your css here */
body{
  /*background-image: url("images/mountain.jpg");*/
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: 2500px;
  width: 500 px;
  height: 500 px;
}
p{
  color:blue
}
.phrase{
  color : blue
}
article{
  color: blue
}
h2{
 color : orange 
}
h1{
  color : purple 
}
#image{
  width: 250px;
  height: 250px;
}
.avatar {
  width: 300px;
}
